:root {
    --verd: #7ABA96;
    --beix: #8A8070;
    --negre: #000000;
    --gris: #808080;
    --blanc: #FFFFFF;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--blanc);
    color: var(--negre);
}

header {
    text-align: center;
    border-bottom: 1px solid var(--gris);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

header .logo img {
    width: 200px;
    margin: 20px 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    font-weight: bold;
}

.menu ul li a {
    text-decoration: none;
    color: var(--negre);
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: var(--verd);
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

form {
    text-align: left;
    margin-top: 20px;
    font-size: 16px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form textarea, form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--gris);
    border-radius: 5px;
    font-size: 14px;
}

form button {
    background-color: var(--verd);
    color: var(--blanc);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--beix);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--negre);
    color: var(--blanc);
}
