/* Estilos para el formulario de registro */
.registration-form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--blanc);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.registration-form input, 
.registration-form textarea, 
.registration-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--gris);
    border-radius: 5px;
    font-size: 16px;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--verd);
    color: var(--blanc);
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registration-form button:hover {
    background-color: var(--beix);
}
